@import "./reset";
@import "./variables/colors";
@import "./variables/typography";
@import "./variables/spacing";
@import "./variables/breakpoints";
@import "./variables/animations";
@import "./variables/mixins";


html {
    overflow-x:hidden;
    scroll-behavior: smooth;
}

.btn {
    padding:10px 44px;
    border-radius: 30px;
    display:inline-block;
    text-decoration: none;
    text-transform: uppercase;
    margin:10px 0;
    line-height: 35px;
    cursor: pointer;

    &:visited {
        color:inherit;
    }
}

.action_btn {
    background:$action-gradient;
    color:$white;
    text-shadow: 2px 2px 1px rgba(139, 24, 17, 0.25);
    transition: background-color .6s ease, color .3s ease;

    &:visited {
        color:$white;
    }

    &:hover {
        background:$white;
        color:$black;
        text-shadow: none;
        transition: background-color .6s ease, color .3s ease;
    }
}

.action_btn.black {
    transition: background-color .6s ease, color .3s ease;

    &:hover {
        background:$black;
        color:$white;
        transition: background-color .6s ease, color .3s ease;
    }
}

.secondary_btn {
    background:$white;
    color:$black;
    transition: background-color .6s ease, color .3s ease;

    &:visited {
        color:$white;
    }

    &:hover {
        background:$action-gradient;
        color:$white;
        text-shadow: 2px 2px 1px rgba(139, 24, 17, 0.25);
        transition: background-color .6s ease, color .3s ease;
    }
}

.secondary_btn.black {
    background:$black;
    color:$white;
    transition: background-color .6s ease, color .3s ease;

    &:hover {
        background:$action-gradient;
        color:$white;
        text-shadow: 2px 2px 1px rgba(139, 24, 17, 0.25);
        transition: background-color .6s ease, color .3s ease;
    }
}

.ghost_btn {
    background:none;
    border:1px solid;
}

.ghost_btn.white {
    border-color:$white;
    color:$white;
    transition: background-color .6s ease, color .3s ease;

    &:hover {
        background:$white;
        color:$black;
        transition: background-color .6s ease, color .3s ease;
    }
}

.ghost_btn.black {
    border-color:$black;
    color:$black;
    transition: background-color .6s ease, color .3s ease;

    &:hover {
        background:$black;
        color:$white;
        transition: background-color .6s ease, color .3s ease;
    }
}

/* ------------- Default Wordpress Blocks ----------------------------------------------------------------------------------------------------------- */

.wp-block-group__inner-container {     
    display:flex;    
    
    .wp-block-group {
        width:66vw;
        padding:$horizontal;
        
        h2 {
            margin-top:$vertical-l;
        }

        h2:first-of-type {
            font-size:$normal-title;
            margin-top:20px;
        }

        h3:first-of-type {
            margin:$vertical 0 20px 0;
            color:$mediumgrey;
        }

        p, h2, h3 {
            width:80%;
        } 

        .wp-block-group__inner-container {
            display:inline-block;
        }
    }
}

.wp-block-group {
    .wp-block-group__inner-container {
        .wp-block-group ~ .wp-block-group {
            width:33.33vw;

            h3:first-of-type {
                margin:0 0 20px 0;
                color:$black;
            }
        }
    }
}

.wp-block-group {

    .wp-block-image {
        height:100vh;

        img {
            height:100vh;
            object-fit: cover; 
        }
    }

    .wp-block-quote {
        background:$black;
        color:$white;
        padding:$vertical $horizontal;
        margin-bottom:$vertical;
        width:70%;
    
        p {
            margin-top:$vertical;
            font-family: $header-font;
            font-size:$large-p;
            width:100%;
        }
    
        cite {
            font-family: $body-font;
            font-size:$small-p;
            font-style: normal;
            margin-bottom:$vertical;
            display: inline-block;
        }
    }
    
    .wp-block-quote.is-style-large {
    
        p{
            font-size:$normal-subtitle;
        }
    
    }

    .wp-block-image {
        margin-bottom: $vertical;

    }
}




/* ------------- Logo ----------------------------------------------------------------------------------------------------------- */

.logo {
    position:absolute;
    left:$horizontal;
    top:$vertical;
    z-index:1000;
}

.logo path {
	fill:$black;
	transition:all .8s ease
}

.logo.background--dark path {
	fill:$white;
	transition:all .8s ease	
}

.logo.background--light path {
	fill:$black;
	transition:all .8s ease	
}

/* ------------- START Menu ----------------------------------------------------------------------------------------------------------- */

.menu_buttons_wrap {
    position: fixed;
    top: 0;
    right:0;
    display:flex;
    z-index:1000;
}

/* ------------- Language Menu ---------------- */

.admin_edit_btn {
    display:flex;
    align-items: center;
    background:rgba($black, .2);
    color:$white;
    text-transform: uppercase;
    font-size:$small-btn;
    padding:20px 30px;
    cursor: pointer;
    transition: background .5s ease;

    svg {
        margin-top:-4px;

        path {
            fill:$black;
            transition: fill .5s ease;
        }
    }

    &:hover {
        background:rgba($black, .6);
        transition: background .5s ease;

        svg {
            path {
                fill:$white;
                transition: fill .5s ease;
            }
        }
    }
}

.language_menu_toggle {
    display:flex;
    align-items: center;
    background:$black;
    color:$white;
    text-transform: uppercase;
    font-size:$small-btn;
    padding:20px 30px;
    cursor: pointer;  

    svg {
        margin-right:10px;
        margin-top:-4px;
    }
    
}

.language_close {
    position: absolute;
    top:20px;
    right:20px;
    padding:20px 25px 18px 25px;
    cursor: pointer;
    background:rgba($lightgrey, 0.15);
    transition: background .5s ease;

    &:hover {
        background:rgba($lightgrey, 0.2);
        transition: background .5s ease; 
    }
}

.language_menu {

    .menu_background {
        width:100vw;
        min-height:100vh;
        top:0;
        right:0;
        position:fixed;
        z-index:1010;
    }
    
    .language_menu_wrap {
        width:33.33vw;
        min-height:100vh;
        background:$black;
        color:$white;
        padding:30px;
        top:0;
        right:0;
        position:fixed;
        z-index:1020;

        h2 {
            color:$white;
            font-size: $small-btn;
            font-family: $body-font;
            text-transform:uppercase;
            font-weight:400;
            margin:15px 0 60px 20px;
            
        }
    
        a {
            color:$white;
            text-decoration:none;
            display:block;
            font-weight:300;
            padding:18px 20px;
            transition: background .5s ease;
            border-top:1px solid rgba($lightgrey, 0.2);
           
            &:hover {
                background:rgba($lightgrey, 0.05);
                transition: background .5s ease;
            }
    
        }
    
        li:nth-last-of-type(1) {
            border-bottom:1px solid rgba($lightgrey, 0.2);
        }

    }    

}

/* ------------- Main Menu ---------------- */

.main_menu_toggle {
    background:$action-gradient;
    color:$white;
    text-transform: uppercase;
    font-size:$small-btn;
    padding:20px 30px;
    cursor: pointer;

    svg {
        margin-left:10px;
        margin-top:2px;
    }
}

.main_menu {

    .menu_top {
        display:flex;
        margin-bottom:var(--horizontal-s);
        width:29vw;
        justify-content:space-between;
        //margin:-1vw 0 1vw -1vw;

        .search_form {
            position: relative;            
           
            .search_field{
                border:0;
                background:rgba($lightgrey, 0.15);
                transition: background .5s ease;
                padding:20px;
                font-size:var(--medium-p);
                font-weight:300;
                color:$white;
                height:3.5vw;
                width:21vw;
                margin:-8px 0 0 0;
                vertical-align: bottom;

                &::-webkit-input-placeholder { 
                    font-size:var(--medium-p);
                    font-weight:300;
                    color:$white;
                    font-style:italic;
                }
                &::-moz-placeholder { 
                    font-size:var(--medium-p);
                    font-weight:300;
                    color:$white;
                    font-style:italic;
                }
                &:-ms-input-placeholder { 
                    font-size:var(--medium-p);
                    font-weight:300;
                    color:$white;
                    font-style:italic;
                }
                &:-moz-placeholder { 
                    font-size:var(--medium-p);
                    font-weight:300;
                    color:$white;
                    
                }
                
            }

            .search_submit {
                border:0;
                background:rgba($lightgrey, 0.15);
                height:3.5vw;
                width:3.5vw;
                margin:0 0 0 -3px;
                cursor: pointer;
            
                svg {
                    margin-top:6px; 
                        
                    path{
                        transition: fill .5s ease;
                    }
                    
                } 

                &:hover {
                    svg {
                        path{
                            fill:$action;
                            transition: fill .5s ease;
                        }
                    }                     
                }
            }
        }

        .main_close {
            height:3.5vw;
            width:3.5vw;
            cursor: pointer;
            background:rgba($lightgrey, 0.15);
            transition: background .5s ease;
        
            &:hover {
                background:rgba($lightgrey, 0.2);
                transition: background .5s ease; 
            }
        }

    }

    

    .menu_background {
        width:100vw;
        min-height:100vh;
        top:0;
        right:0;
        position:fixed;
        z-index:1010;
    }
    
    .main_menu_wrap {
        width:33.33vw;
        min-height:100vh;
        background:$black;
        color:$white;
        padding:var(--horizontal-s);
        top:0;
        right:0;
        position:fixed;
        z-index:1020;

        .main_navigation {

            a {
                color:$white;
                text-decoration:none;
                display:block;
                font-weight:300;
                font-size:var(--medium-p);
                padding:10px 20px;
                transition: background .5s ease;
               
                &:hover {
                    background:rgba($lightgrey, 0.05);
                    transition: background .5s ease;
                }
        
            }

        }

        .meta {
            margin-left:20px;

            .city_header {
                color:$white;
                font-size: calc(var(--medium-p) * 1.2);
                font-family: $body-font;            
                font-weight:900;
                margin-bottom:10px;
                margin-top:4vh;
                
            }
    
            .openinghours {
                display:flex;
                margin-bottom:20px;

                p {
                    font-size:var(--medium-p);
                    margin-bottom:0;
                }
                
                svg {
                    margin:8px 20px 0 0;

                    path {
                        fill:$white;
                    }
                }
            }

            .social {
                display:flex;

                a {
                    margin-right:30px;

                    svg {
                        path {
                            transition: fill .5s ease;
                        }
                    }

                    &:hover {
                        svg {
                            path {
                                fill:$action;
                                transition: fill .5s ease;
                            }
                        }
                    }

                    
                }

                .facebook {
                    svg {
                        margin-top:-2px;
                    }
                }
            }
        }

        .ticket_buttons {
            margin-top:4vh;

            .action_btn {
                margin-right:20px;
            } 
        }
        
    
        .boring_links {
            margin-top:3vh;
            width:100%;

            ul {
                display:flex;
                justify-content:space-evenly;
                width:100%;
            }

            a {
                color:$mediumgrey;
                text-decoration: none;
                font-size:var(--medium-p);
                font-weight:300;

                &:hover {
                    color:$mediumgrey;
                    text-decoration: underline;
                }
            }
            
        }
    

    }    

}

/* ------------- Hide / Display menu ---------------- */

.hidden {
    
    .menu_background {
        visibility: hidden;
        background-color:rgba($black, 0);    
        transition-property: background-color, visibility;
        transition-duration: .5s;
        transition-delay:.1s;
    }

    .language_menu_wrap {
        transform: translate3d(33.33vw, 0, 0);
        transition: transform .6s ease-in-out;
    }

    .main_menu_wrap {
        transform: translate3d(33.33vw, 0, 0);
        transition: transform .6s ease-in-out;
    }

}

.visible {
    
    .menu_background {
        visibility: visible;
        background-color:rgba($black, 0.4);    
        transition-property: background-color, visibility;
        transition-duration: .5s;
        transition-delay:.1s;
    }

    .language_menu_wrap {
        transform: translate3d(0, 0, 0);
        transition: transform .6s ease-in-out;
    }
    
    .main_menu_wrap {
        transform: translate3d(0, 0, 0);
        transition: transform .6s ease-in-out;
    }

}

/* ------------- Custom Gutenberg Blocks ----------------------------------------------------------------------------------------------------------- */

/* ------------- Hero Block ---------------- */

.hero {
   display:flex;
   width:100vw;
   min-height:100vh;   

   .breadcrumbs {
    font-size:$small-btn;
    text-transform: uppercase;
    color:$mediumgrey; 
    font-weight:400;
    margin:20px 0;
    
        a {
            color:$mediumgrey;  
            text-decoration:none;
            transition: color .5s ease;

            &:hover {
                color:$black;
                transition: color .5s ease;
            }
        }

    }

    .subheader {
        font-size:$small-subtitle;
    }

   .text_wrap {
       width:33.33vw;
       padding:20vh $horizontal 0 $horizontal;
       
       .read_more_link {           
           @include textLink;         
       }

       .back_link {
            @include textLink;
            margin-bottom:20px;
            display:inline-block;
       }

       .taxonomy_link {
            @include textLink;
       }

       .license_message {
           font-size:var(--small-p);
           position:absolute;
           bottom:20px;
       }
   }

   .text_wrap.expo {

        .btn {
            margin-bottom:40px;
        }

        .date {
            display:flex; 
            
            svg {
                margin-top:8px;
                width:20px;
            }

            p {
                font-weight:600;
                font-size:var(--medium-p);
                margin-left:20px;
            }

        }

        .opening_hours {
            display:flex;

            svg {
                margin-top:8px;
                width:20px;
            }

            p {
                font-weight:300;
                font-size:var(--medium-p);
                margin-left:20px;
            }

        }

        .location {
            display:flex;

            svg {
                margin-top:8px;
                width:20px;
            }

            p {
                font-weight:300;
                font-size:var(--medium-p);
                margin-left:20px;
            }

        }

        .free_entry {
            display:flex;

            svg {
                margin-top:8px;
                width:20px;
            }

            p {
                font-weight:300;
                font-size:var(--medium-p);
                margin-left:20px;
            }

        }

   }

   .image_wrap {
       width:66.66vw;
       position:relative;

       img {
          min-width:100%;
          height:100vh;
          object-fit: cover; 
       }

       .slider_button {
           background:$action-gradient;           
           width:80px;
           height:80px;
           padding:0;
           position: absolute;
           top:45%;
           z-index:100;
           cursor: pointer;
           overflow:hidden;
                      
           .background_wrap {
                width:80px;
                height:80px;
                padding-top:27px;
                background-color:rgba($black, 1);
                transition:background .5s ease;
           }

           &:hover {
               .background_wrap {
                    background-color:rgba($black, 0);
                    transition:background-color .5s ease;
               }
                
           }
       }

       .slider_button.left {
           left:$horizontal;
       }

       .slider_button.right {
            right:$horizontal;
        }

        .caption {
            margin-top:-80px;
            margin-left:$horizontal;
            font-size: $small-p;
            font-weight:400;
            color:$white;            
        }    

   }


}

/* ------------- Styling specifically for the large text hero block ---------------- */

.hero.large_text {
    align-items: center;

    .text_wrap {
        padding:0 calc(var(--horizontal-xl) * 2) 0 var(--horizontal);
        width:66.66vw;

        .description {

            p:first-of-type {
                font-size:$small-subtitle;
                font-family: $header-font;
            }

        }

    }

    .image_wrap {
        width:33.33vw;
        
        .header {
            font-size:calc(var(--x-large-title) * 1.1);
            color:$white;
            position:absolute;
            bottom:0;
            padding:var(--vertical) var(--horizontal);
        }

        .caption {
            display:none;
        }
    }



}

/* ------------- Collection Overview Hero Block ---------------- */

.collection-overview-hero {
    display:flex;
    width:100vw;
    height:100vh;   
 
    .text_wrap {
        width:33.33vw;
        padding:20vh $horizontal 0 $horizontal;

        .item_number {
            font-size:var(--x-large-title);
            margin:0;
        }

        .item_text {
            font-size:var(--large-subtitle);
            margin-bottom:20px;
        }

        .location_text {
            font-size:$small-subtitle;
        }
        
        .read_more_link { 
            margin-top:20px;          
            @include textLink;         
        }
  
    }
 
    .image_wrap {
        width:33.33vw;
        position:relative;

        .header {
            font-size:calc(var(--x-large-title) * 1.1);
            color:$white;
            position:absolute;
            bottom:0;
            padding:var(--vertical) var(--horizontal);
        }
 
        img {
           min-width:100%;
           height:100vh;
           object-fit: cover; 
        }
 
        .slider_button {
            background:$action-gradient;           
            width:80px;
            height:80px;
            padding:0;
            position: absolute;
            top:45%;
            z-index:100;
            cursor: pointer;
            overflow:hidden;
                       
            .background_wrap {
                 width:80px;
                 height:80px;
                 padding-top:27px;
                 background-color:rgba($black, 1);
                 transition:background .5s ease;
            }
 
            &:hover {
                .background_wrap {
                     background-color:rgba($black, 0);
                     transition:background-color .5s ease;
                }
                 
            }
        }
 
        .slider_button.left {
            display:none;
        }
 
        .slider_button.right {
             right:$horizontal;
         }
 
        .image_slide {
            height:100vh;
            position:relative;

            a{
                text-decoration: none;
            }

            .caption {
                margin:var(--vertical) var(--horizontal);
                color:$white;
                position:absolute;
                bottom:var(--vertical-s);
                
                h2 {
                    font-size:var(--small-subtitle);
                    margin-bottom:10px;
                }

                p {
                    font-size:var(--medium-p);
                    font-weight:300;
                    margin:0;
                }
                
            } 
            
        }
           
 
    }
 
 
 }


/* ------------- Info Block ---------------- */

.info {
    display:flex;
    width:100vw;
    min-height:100vh;   
     
    .subheader {
        font-size:var(--small-subtitle);
        color:$mediumgrey;
        margin-bottom:20px;
    }

    .header {
        font-size:var(--medium-title);
    }
 
    .text_wrap {
        width:33.33vw;
        padding:20vh $horizontal 0 $horizontal;  

    }
 
    
    .image_wrap {
        width:66.66vw;
        position:relative;
 
        img {
           min-width:100%;
           height:100vh;
           object-fit: cover; 
        }
 
        .slider_button {
            background:$action-gradient;           
            width:80px;
            height:80px;
            padding:0;
            position: absolute;
            top:45%;
            z-index:100;
            cursor: pointer;
            overflow:hidden;
                       
            .background_wrap {
                 width:80px;
                 height:80px;
                 padding-top:27px;
                 background-color:rgba($black, 1);
                 transition:background .5s ease;
            }
 
            &:hover {
                .background_wrap {
                     background-color:rgba($black, 0);
                     transition:background-color .5s ease;
                }
                 
            }
        }
 
        .slider_button.left {
            left:$horizontal;
        }
 
        .slider_button.right {
             right:$horizontal;
         }
 
         .caption {
             margin-top:-80px;
             margin-left:$horizontal;
             font-size: $small-p;
             font-weight:400;
             color:$white;            
         }    
 
    }
 
 
 }

/* ------------- Image Slider ---------------- */

.horizontal_slider {
    height:100vh;
    display: flex;
    flex-wrap:nowrap;
    position: relative;
    overflow-x: auto;
    overflow-y:hidden;
    scroll-behavior: smooth;

    .image_wrap {
        flex:0 0 auto;
        height:100vh;
        
        &:nth-of-type(2n+1) {
            width:66.66vw;
        }

        &:nth-of-type(2n) {
            width:33.33vw;
        }
    }

    img {
        width:100%;
        height:100%;
        object-fit: cover;  
    } 



}

.horizontal_slider_btn_wrap {
        
    .slider_button {
        background:$action-gradient;           
        width:80px;
        height:80px;
        position: absolute;
        margin-top:-50vh;
        padding:0;        
        z-index:100;
        cursor: pointer;
        overflow:hidden;
        transition: opacity 1s ease ;
                   
        .background_wrap {
             width:80px;
             height:80px;
             padding-top:27px;
             background-color:rgba($black, 1);
             transition:background .5s ease;
        }

        &:hover {
            .background_wrap {
                 background-color:rgba($black, 0);
                 transition:background-color .5s ease;
            }
             
        }
    }

    .slider_button.left {
        left:$horizontal;
    }

    .slider_button.right {
         right:$horizontal;
    }

    .slider_button.hidden {
        opacity:0;
        transition: opacity 1s ease ;
    }

}

.horizontal_slider::-webkit-scrollbar {
    height: 0;
  }

.horizontal_slider {
scrollbar-width: none;
border: 0;
}

/* ------------- Related Posts Block ---------------- */

.related_posts {
    position:relative;
    margin:20vh 0;

    .header_wrap {
        border-top:1px solid rgba($mediumgrey, .3);
        padding:100px $horizontal;
        margin:0 $vertical-xl 0 $vertical-xl;
        text-align:center;

        .leaf_wrap {
            background:$lightgrey;
            width:140px;
            margin-top:-138px;
            margin-left:calc(50% - 70px);         
        }

        .header {
            margin-top:$vertical-l;
        }
        
    }

    .related_posts_inner {
        display:flex;
        justify-content: center;
    }

    .post {
        width:33.33vw;

        .image_wrap {

            img {
                min-width:100%;
                height:45vh;
                object-fit: cover; 
            }

        }

        .text_wrap {
            padding:$vertical $horizontal;

            .title {
                text-decoration:none;
            }

            .read_more {
                @include textLink;
            }

        }
    }

    .slider_button {
        background:$action-gradient;           
        width:80px;
        height:80px;
        padding:0;
        position: absolute;
        top:48%;
        z-index:100;
        cursor: pointer;
        overflow:hidden;
                      
        .background_wrap {
            width:80px;
            height:80px;
            padding-top:27px;
            background-color:rgba($black, 1);
            transition:background .5s ease;
        }

        &:hover {
            .background_wrap {
                background-color:rgba($black, 0);
                transition:background-color .5s ease;
            }
            
        }
    }

    .slider_button.left {
        left:$horizontal;
    }

    .slider_button.right {
        right:$horizontal;
    }
}

/* ------------- Sub Item Block ---------------- */

.sub_items {
    position:relative;
    margin:10vh 0;

    .header_wrap {
        padding:100px $horizontal;
        margin:0 $vertical-xl 0 $vertical-xl;
        text-align:center;

        .leaf_wrap {
            background:$lightgrey;
            width:140px;
            margin-top:-138px;
            margin-left:calc(50% - 70px);         
        }

        .header {
            margin-top:$vertical-l;
        }
        
    }

    .related_posts_inner {
        display:flex;
        justify-content: center;
    }

    .post {
        width:33.33vw;

        .image_wrap {

            img {
                min-width:100%;
                height:45vh;
                object-fit: cover; 
            }

        }

        .text_wrap {
            padding:$vertical $horizontal;

            .title {
                text-decoration:none;
            }

            .read_more {
                @include textLink;
            }

        }
    }

    .slider_button {
        background:$action-gradient;           
        width:80px;
        height:80px;
        padding:0;
        position: absolute;
        top:48%;
        z-index:100;
        cursor: pointer;
        overflow:hidden;
                        
        .background_wrap {
            width:80px;
            height:80px;
            padding-top:27px;
            background-color:rgba($black, 1);
            transition:background .5s ease;
        }

        &:hover {
            .background_wrap {
                background-color:rgba($black, 0);
                transition:background-color .5s ease;
            }
            
        }
    }

    .slider_button.left {
        left:$horizontal;
    }

    .slider_button.right {
        right:$horizontal;
    }
}



/* ------------- Promotional Block ---------------- */

.promo {
    display:flex;
    width:100vw;
    min-height:100vh;
    background:$black;
    color:$white;
    text-align: center;  
    align-items: center;
 
    .text_wrap {
        width:33.33vw;
        padding:0 $horizontal-l 0 $horizontal-l;

        .header {
            font-size:$small-title;
            margin-top: $vertical-l;
        }
     
        .subheader {
            font-size:$small-subtitle;
        }        

        svg {
            width:143px;
            height:142px;

            path {
                fill:$white; 
            }
        }
        
 
        
    }
 
    .image_wrap {
        width:66.66vw;
        position:relative;
 
        img {
           min-width:100%;
           height:100vh;
           object-fit: cover; 
        }
 
        .slider_button {
            background:$action-gradient;           
            width:80px;
            height:80px;
            padding:0;
            position: absolute;
            top:45%;
            z-index:100;
            cursor: pointer;
            overflow:hidden;
                       
            .background_wrap {
                 width:80px;
                 height:80px;
                 padding-top:27px;
                 background-color:rgba($black, 1);
                 transition:background .5s ease;
            }
 
            &:hover {
                .background_wrap {
                     background-color:rgba($black, 0);
                     transition:background-color .5s ease;
                }
                 
            }
        }
 
        .slider_button.left {
            left:$horizontal;
        }
 
        .slider_button.right {
             right:$horizontal;
         }
 
         .caption {
             margin-top:-80px;
             margin-left:$horizontal;
             font-size: $small-p;
             font-weight:400;
             color:$white; 
             text-align: left;           
         }    
 
    }

 }

 /* ------------- Image sidebar ---------------- */

 .image_sidebar {
    display:inline-block;
    width:33.33vw;

    .image_wrap {
        position:relative;

        img {
            height:100vh;
            object-fit: cover; 
        }
    
        .caption {
            position: absolute;            
            color:$white;
            font-size:$small-p;
            font-weight:400;
            padding-left:$horizontal;
            padding-bottom:$vertical-s;
            left:0;
            bottom:0;
                        
        }
    }

    .quote {
        background:$black;
        color:$white;
        padding:$vertical $horizontal;

        .quote_text {
            margin-top:$vertical;
            font-family: $header-font;
            font-size:$large-p;
        }

        .quote_text.medium {
            font-size:$normal-subtitle;
        }

        .quote_text.large {
            font-size:$normal-title;
        }

        .quote_author {
            font-family: $body-font;
            font-size:$small-p;
        }

    }    

}

 /* ------------- Category Overview ---------------- */

.category_overview {
    display:flex;
    flex-wrap: wrap;
    width:100%;

    .category {
        width:33.33vw;

        .image {
            height: 40vh;
            width:100%;
            object-fit: cover;
        }
    
        .text_wrap {
            padding:var(--horizontal); 
            
            h2 {
                margin-bottom:10px;
            }

            .link {
                text-decoration: none;
            }

            .read_more_link {
                @include textLink;
            }
        }
    
    }

}


.collection_items {
    width:300vw;
    height:100vh;
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y:hidden;
    scroll-behavior: smooth;
    flex-wrap: wrap; 

    img {
        height:50vh;
        width:auto;
        object-fit: cover;         
    } 

}

.collection_items_btn_wrap {
        
    .slider_button {
        background:$action-gradient;           
        width:80px;
        height:80px;
        position: absolute;
        margin-top:-50vh;
        padding:0;        
        z-index:100;
        cursor: pointer;
        overflow:hidden;
        transition: opacity 1s ease ;
                   
        .background_wrap {
             width:80px;
             height:80px;
             padding-top:27px;
             background-color:rgba($black, 1);
             transition:background .5s ease;
        }

        &:hover {
            .background_wrap {
                 background-color:rgba($black, 0);
                 transition:background-color .5s ease;
            }
             
        }
    }

    .slider_button.left {
        left:$horizontal;
    }

    .slider_button.right {
         right:$horizontal;
    }

    .slider_button.hidden {
        opacity:0;
        transition: opacity 1s ease ;
    }

}

.collection_items::-webkit-scrollbar {
    height: 0;
  }

.collection_items {
scrollbar-width: none;
border: 0;
}


/* ------------- Whats on page ----------------------------------------------------------------------------------------------------------- */

.event {
    display: flex;
    height:100vh;
    align-items: center;

    .info_wrap {
        width:66.66vw;
        display: flex;
        
        .meta_info {
            width:40vw;
            min-height:100vh;
            padding:30vh var(--horizontal) var(--vertical) var(--horizontal);
            text-align:right;
            border-right:1px solid $black;

            .title {
                text-decoration:none;                
                
                h2 {
                    font-size:var(--small-subtitle);
                    
                    margin-bottom:10px;
                }
            }

            .date {
                display:flex;
                justify-content:flex-end; 
                
                svg {
                    margin-top:8px;
                    width:20px;
                }
    
                p {
                    font-weight:400;
                    font-size:var(--medium-p);
                    margin-right:20px;
                    margin-bottom:15px;
                }
    
            }
    
            .location {
                display:flex;
                justify-content:flex-end;
    
                svg {
                    margin-top:8px;
                    width:20px;
                }
    
                p {
                    font-weight:400;
                    font-size:var(--medium-p);
                    margin-right:20px;
                    margin-bottom:15px;
                }
    
            }
    
            .free_entry {
                display:flex;
                justify-content:flex-end;
    
                svg {
                    margin-top:8px;
                    width:20px;
                }
    
                p {
                    font-weight:400;
                    font-size:var(--medium-p);
                    margin-right:20px;
                }
    
            }
    

        }
    
        .description {
            width:60vw;
            padding:25vh calc(var(--horizontal) * 2) var(--vertical) 8vw;

            .title {
                text-decoration:none;                
                
                h1 {
                    font-size:var(--large-subtitle);
                    margin-bottom:10px;

                    &:before {
                        content:'';
                        border-bottom:1px solid $black;
                        width:6vw;
                        height:1px;
                        display:block;
                        margin-left:-8vw;
                        margin-top:70px;
                        position:absolute;
                    }
                }
            }

        }

    }    

    .image {
        width:33.33vw;

        img {
            height:100vh;
            object-fit: cover; 
        }
    }
}






/* ------------- Section ----------------------------------------------------------------------------------------------------------- */

/* ------------- Sub section ---------------- */



/* ------------- Section ----------------------------------------------------------------------------------------------------------- */

/* ------------- Sub section ---------------- */



/* ------------- Section ----------------------------------------------------------------------------------------------------------- */

/* ------------- Sub section ---------------- */



/* ------------- Section ----------------------------------------------------------------------------------------------------------- */

/* ------------- Sub section ---------------- */


/* ------------- Section ----------------------------------------------------------------------------------------------------------- */

/* ------------- Sub section ---------------- */
