@import "./breakpoints";

$black:#000000;
$darkgrey:#202020;
$mediumgrey:#828282;
$lightgrey:#F6F6F6;
$white:#ffffff;

$action:#FF4025;
$action-gradient:linear-gradient(217.1deg, #FF2A42 33.82%, #FF5509 84.93%), #FF5C00; 

$box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
$text-shadow: 1px 1px 6px #000000;

::selection {
  color: $white;
  background: $action;
}

html {
  color:$black;
  background:$lightgrey;
}

a {
  color:$black;
  transition: color .5s ease;

  &:hover {
    transition: color .5s ease;
    color:$action;
  }

  &:visited {
    color:$black;
  }
}

