@mixin textLink {
    padding:0;
    text-decoration: none;
    font-size: $small-btn;
    text-transform:uppercase;
    font-weight:600;
    background:none;
    transition:color .5s ease;

    svg {
        width:20px;
        height:13px;
        margin-right:18px;                

        path {
            fill:$black;
            transition:fill .5s ease;
        }
    }

    &:hover {
        color:$action;
        transition:color .5s ease;
        cursor: pointer;

        svg path {
            fill:$action;
            transition:fill .5s ease;
        }
    }
}