@mixin textLink {
    padding:0;
    text-decoration: none;
    font-size: $small-btn;
    text-transform:uppercase;
    font-weight:600;
    background:none;
    transition:color .5s ease;

    svg {
        width:20px;
        height:13px;
        margin-right:18px;                

        path {
            fill:$black;
            transition:fill .5s ease;
        }
    }

    &:hover {
        color:$action;
        transition:color .5s ease;
        cursor: pointer;

        svg path {
            fill:$action;
            transition:fill .5s ease;
        }
    }
}

@mixin blackGradient($deg) {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,0.75) 99%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.75) 99%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.75) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    transform: rotate($deg);
}